<h5>Current balance: <%= @user.balance %></h5>

<div class="container mt-5" style="width: 600px; margin: 0 auto;">
    <%= simple_form_for(@user) do |f| %>
      <div class="form-group mb-3">
        <%= f.label "Balance: #{current_user.balance}", class: "form-control" %>
      </div>
      <div class="form-group mb-3">
        <%= f.input :balance, class: "form-control" %>
      </div>
      <%= f.submit "Submit changes", class: "btn btn-primary mb-3 w-100" %>
    <% end %>
</div>
