
<div class="container">
  <div class="row">
    <div class="col-12 col-sm-4 p-3">
      <h3 class="border-bottom py-3" style="text-align: center;">Furnitures I listed!</h3>
      <% @furnitures.reverse.first(3).each do |furniture| %>
          <% if furniture.user_id == current_user.id %>
            <div class="card-trip my-2 mb-4" style="height: 400px;">
              <% if furniture.photo.attached? %>
                <%= cl_image_tag furniture.photo.key, crop: :fill, style: "height: 270px;" %>
              <% else %>
                <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" style="height: 270px;"/>
              <% end %>
              <div class="card-trip-infos">
                <div>
                  <h2><%= furniture.name.capitalize %></h2>
                  <p><%= furniture.description.length < 100 ? furniture.description : furniture.description.first(100) + "..." %></p>
                </div>

                <h2 class="card-trip-pricing">£<%= furniture.price %></h2>
              </div>
              <div class="d-flex justify-content-center align-items-end">
                  <%= link_to "Edit", edit_furniture_path(furniture), class: "btn btn-secondary me-3" %>
                  <%= link_to "Delete", furniture_path(furniture), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-secondary" %>
                </div>
            </div>
          <% end %>
        <% end %>
    </div>
    <div class="col-12 col-sm-8 p-3">
      <h3 class="border-bottom py-3" style="text-align: center;">More about me</h3>
      <div class="card-trip" style="height: 300px; background-color: rgba( 240, 240, 240, 100%);">
        <div class="card-trip-infos p-4">
          <div>
            <% if @user.first_name && @user.last_name %>
              <h3><%= @user.first_name.capitalize %>&nbsp;<%= @user.last_name.capitalize %></h3>
            <% end %>
            <p><%= @user.about_me %></p>
            <h6 class="pt-3">Contact Details</h6>
            <p><%= @user.email %></p>
            <h6 class="pt-3">Renting since</h6>
            <p><%= @user.created_at %></p>
            <h6 class="pt-3">Average Review score: <i class="fas fa-star" style="color: gold;"></i> <%= @average_rating %>/5</h6>
          </div>
        </div>
      </div>
      <h3 class="text-center mt-3">Submit a review</h3>
      <%= simple_form_for [ @user, @review ] do |f| %>
        <div class="form-group mb-3">
          <%= f.input :rating, class: "form-control", placeholder: "0-5" %>
        </div>
        <div class="form-group mb-3" rows="3">
          <%= f.text_area :content, class: "form-control", placeholder: "Write here" %>
        </div>
        <%= f.submit "Submit review", class: "btn btn-primary mb-3 w-100" %>
      <% end %>
      <h3 class="text-center">Reviews</h3>
      <% @reviews.each do |review| %>
        <div class="card-product mb-4">
          <div class="card-product-infos ps-3">
            <div class="d-flex border-bottom">
            <div>
              <h4><i class="fas fa-star" style="color: gold; position: absolute;"></i></h4>
            </div>
              <h5><%= review.rating %></h5>
            </div>
            <p class="review-text mt-3 ms-2"><%= review.content %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
