<div class="container mt-3">
  <h2 class="border-bottom pb-3" style="text-align: center;">Offers</h2>
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Your rent requests</button>
      <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Accept/decline offers</button>
      <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Items rented Out</button>
      <button class="nav-link" id="nav-bought-tab" data-bs-toggle="tab" data-bs-target="#nav-bought" type="button" role="tab" aria-controls="nav-bought" aria-selected="false">Items rented</button>
    </div>
  </nav>

<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade" id="nav-bought" role="tabpanel" aria-labelledby="nav-bought-tab">
      <div class="container">
        <div class="row d-flex flex-wrap align-items-start">
          <% @offers.reverse.each do |offer| %>
            <% seller = User.find(offer.furniture.user_id) %>
            <% if (offer.user_id == current_user.id && offer.accepted == true && offer.paid == true) %>
              <div class="col-12 col-lg-4">
                <div class="card-product my-3" style="height: 200px;">
                  <% if offer.furniture.photo.key %>
                    <%= cl_image_tag offer.furniture.photo.key, crop: :fill %>
                  <% else %>
                    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
                  <% end %>
                  <div class="card-product-infos d-flex justify-content-between">
                    <div class="details">
                      <h4><%= offer.furniture.name.capitalize %></h4>
                      <% if offer.start_date > Date.today%>
                        <h6>Days until start: <%= (offer.start_date - Date.today).to_i %></h6>
                      <% elsif Date.today < offer.end_date %>
                        <h6>Days remaining: <%= (offer.end_date - Date.today).to_i %></h6>
                      <% else %>
                        <h6>Rent completed</h6>
                      <% end %>
                      <%# MODAL BUTTON %>
                      <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#i<%=offer.id%>">
                        More info
                      </button>
                      <%# MODAL %>
                      <div class="modal fade" id="i<%=offer.id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              <div class="card-trip" style="height: 400px;">
                                <% if offer.furniture.photo.key %>
                                  <%= cl_image_tag offer.furniture.photo.key, crop: :fill %>
                                <% else %>
                                  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
                                <% end %>
                                <div class="card-trip-infos">
                                  <div>
                                    <h2><%= offer.furniture.name.capitalize %></h2>
                                    <p>You rented from: <%= seller.first_name %></p>
                                    <p>Contact: <%= seller.email %></p>
                                    <br>
                                    <div class="align-items-bottom">
                                    <p>Start date: <%= offer.start_date %></p>
                                    <p>End date: <%= offer.end_date %></p>
                                    </div>
                                    <br>

                                    <h6>Days remaining: <%= (offer.end_date - Date.today).to_i %></h6>
                                  </div>
                                  <h2 class="card-trip-pricing"><%= humanized_money_with_symbol(offer.furniture.price_cents * ((offer.end_date - offer.start_date).to_i)) %></h2>
                                </div>
                              </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <%# MODAL %>
                      <% if offer.end_date <= Time.now %>
                        <%= link_to 'delete', offer_path(offer), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-secondary", style: "text-decoration: none;" %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
  </div>
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
    <div class="container">
      <div class="row d-flex flex-wrap align-items-start">
          <% @offers.reverse.each do |offer| %>
              <% if (offer.user_id == current_user.id && (offer.accepted == false || offer.paid == false)) %>
              <div class="col-12 col-lg-4">
                <% seller = User.find(offer.furniture.user_id) %>
                <div class="card-product my-3" style="height: 200px;">
                  <% if offer.furniture.photo.key %>
                    <%= cl_image_tag offer.furniture.photo.key, crop: :fill %>
                  <% else %>
                    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
                  <% end %>
                  <div class="card-product-infos d-flex justify-content-between">
                  <% if offer.start_date > Time.new %>
                    <div class="details">
                      <h4><%= offer.furniture.name.capitalize %></h3>
                      <%# MODAL BUTTON %>
                      <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#i<%=offer.id%>">
                        More info
                      </button>
                      <% if offer.accepted == true && offer.paid == false %>
                        <%= form_tag orders_path do %>
                          <%= hidden_field_tag '@furniture_id', offer.furniture_id %>
                          <%= submit_tag 'Purchase', class: 'btn btn-secondary mt-2 mb-1' %>
                        <% end %>
                      <% end %>
                      <%# MODAL %>
                      <div style="height: 700px;" class="modal fade" id="i<%=offer.id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              <div class="card-trip">
                                <% if offer.furniture.photo.attached? %>
                                  <%= cl_image_tag offer.furniture.photo.key, crop: :fill %>
                                <% else %>
                                  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
                                <% end %>
                                <div class="card-trip-infos">
                                  <div>
                                    <h2><%= offer.furniture.name.capitalize %></h2>
                                    <p>Renting from: <%= seller.first_name %> - contact: <%= seller.email %></p>
                                    <br>
                                    <p class="border-bottom">Description</p>
                                    <p class="ps-1 pt-1"><%= offer.furniture.description %></p>
                                    <br>
                                    <p class="border-bottom">Location</p>
                                    <p class="ps-1 pt-1"><%= offer.furniture.location %></p>
                                    <br>
                                    <div class="align-items-bottom">
                                    <p>Start date: <%= offer.start_date %></p>
                                    <p>End date: <%= offer.end_date %></p>
                                    </div>
                                  </div>
                                  <h2 class="card-trip-pricing"><%= humanized_money_with_symbol(offer.furniture.price_cents * ((offer.end_date - offer.start_date).to_i)) %></h2>
                                </div>
                              </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                              <% if offer.accepted == false %>
                                <%= link_to 'Cancel offer', offer_path(offer), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-secondary" %>
                              <% end %>
                            </div>
                          </div>
                        </div>
                      </div>
                      <%# MODAL %>
                      <%= link_to 'Cancel offer', offer_path(offer), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-secondary m-1" %>
                    </div>
                  <% else %>
                    <div style="padding: 0px;" class="card-product-infos">
                      <h4>Order has expired</h4>
                      <%= link_to 'Remove', offer_path(offer), method: :delete, class: "btn btn-secondary" %>
                    </div>
                  <% end %>
                  </div>
                </div>
                </div>
              <% end %>
          <% end %>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
    <div class="container">
      <div class="row d-flex flex-wrap align-items-start">
          <% @offers.reverse.each do |offer| %>
            <% if (offer.furniture.user_id == current_user.id && (offer.accepted == false || offer.paid == false)) %>
              <div class="col-12 col-lg-4">
                <div class="card-product my-3" style="height: 200px;">
                  <% if offer.furniture.photo.key %>
                    <%= cl_image_tag offer.furniture.photo.key, crop: :fill %>
                  <% else %>
                    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
                  <% end %>
                  <% if offer.start_date > Time.new %>
                    <div class="card-product-infos">
                      <div class="details">
                        <h4><%= offer.furniture.name.capitalize %></h3>
                        <%# MODAL BUTTON %>
                      <% if offer.accepted == false %>
                        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#i<%=offer.id%>">
                          More info - Accept/Decline
                        </button>
                      <% else %>
                        <h6>Accepted, awaiting payment</h6>
                      <% end %>
                      <%# MODAL %>
                      <div class="modal fade" id="i<%=offer.id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              <div class="card-trip" style="height: 400px;">
                                <% if offer.furniture.photo.attached? %>
                                  <%= cl_image_tag offer.furniture.photo.key, crop: :fill %>
                                <% else %>
                                  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
                                <% end %>
                                <div class="card-trip-infos">
                                  <div>
                                    <h2><%= offer.furniture.name.capitalize %></h2>
                                    <p><%= offer.user.first_name %> is requesting to rent this item</p>
                                    <p>contact: <%= offer.user.email %></p>
                                    <br>
                                    <div class="align-items-bottom">
                                    <p>Start date: <%= offer.start_date %></p>
                                    <p>End date: <%= offer.end_date %></p>
                                    </div>
                                  </div>
                                  <h2 class="card-trip-pricing">£<%= (offer.furniture.price * ((offer.end_date - offer.start_date).to_i.fdiv(7))).round(2) %></h2>
                                </div>
                              </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                              <% if offer.accepted == false %>
                                <%= link_to "accept offer", accept_offer_path(offer), method: :put, class: "btn btn-secondary" %>
                                <%= link_to 'decline offer', offer_path(offer), method: :delete, data: { confirm: "Are you sure?" }, class: "my-button", class: "btn btn-secondary" %>
                              <% else %>
                                <h6 class="btn btn-secondary">Accepted, awaiting payment</h6>
                              <% end %>
                            </div>
                          </div>
                        </div>
                      </div>
                      <%# MODAL %>
                      </div>
                    </div>
                  <% else %>
                    <div class="card-product-infos">
                      <h4>Order has expired</h4>
                      <%= link_to 'Remove', offer_path(offer), method: :delete, class: "btn btn-secondary" %>
                    </div>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% end %>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
      <div class="container">
        <div class="row d-flex flex-wrap align-items-start">
          <% @offers.reverse.each do |offer| %>
            <% seller = User.find(offer.furniture.user_id) %>
            <% if (offer.furniture.user_id == current_user.id && offer.accepted == true && offer.paid == true) %>
              <div class="col-12 col-lg-4">
                <div class="card-product my-3" style="height: 200px;">
                  <% if offer.furniture.photo.key %>
                    <%= cl_image_tag offer.furniture.photo.key, crop: :fill %>
                  <% else %>
                    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
                  <% end %>
                  <div class="card-product-infos d-flex justify-content-between">
                    <div class="details">
                      <h4><%= offer.furniture.name.capitalize %></h3>
                      <h6>Days remaining: <%= (offer.end_date - Date.today).to_i %></h6>
                      <%# MODAL BUTTON %>
                      <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#i<%=offer.id%>">
                        More info
                      </button>
                      <%# MODAL %>
                      <div class="modal fade" id="i<%=offer.id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Sold Item: <%= offer.furniture.name.capitalize %></h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              <div class="card-trip" style="height: 400px;">
                                <% if offer.furniture.photo.attached? %>
                                  <%= cl_image_tag offer.furniture.photo.key, crop: :fill %>
                                <% else %>
                                  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
                                <% end %>
                                <div class="card-trip-infos">
                                  <div>
                                    <h2><%= offer.furniture.name.capitalize %></h2>
                                    <p><%= offer.user.first_name %> has rented this item</p>
                                    <p>Contact: <%= offer.user.email %></p>
                                    <br>
                                    <div class="align-items-bottom">
                                    <p>Start date: <%= offer.start_date %></p>
                                    <p>End date: <%= offer.end_date %></p>
                                    </div>
                                    <br>

                                    <% if offer.start_date > Date.today%>
                                      <h6>Days until start: <%= (offer.start_date - Date.today).to_i %></h6>
                                    <% elsif Date.today < offer.end_date %>
                                      <h6>Days remaining: <%= (offer.end_date - Date.today).to_i %></h6>
                                    <% else %>
                                      <h6>Rent completed</h6>
                                    <% end %>
                                  </div>
                                  <h2 class="card-trip-pricing">£<%= (offer.furniture.price * ((offer.end_date - offer.start_date).to_i.fdiv(7))).round(2) %></h2>
                                </div>
                              </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <%# MODAL %>
                      <% if offer.end_date <= Time.now %>
                        <%= link_to 'delete', offer_path(offer), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-secondary", style: "text-decoration: none;" %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
        </div>
      </div>
  </div>
</div>
