 <div class="container">
    <%= simple_form_for [ @furniture, @offer ] do |f| %>
      <div class="form-group mb-3">
        <%= f.input :start_date, as: :date, html5: true %>
      </div>
      <div class="form-group mb-3">
        <%= f.input :end_date, as: :date, html5: true %>
      </div>
      <%= f.submit "Make offer", class: "btn btn-primary mb-3" %>
    <% end %>
</div>

<%= form_tag orders_path do %>
  <%= hidden_field_tag '@furniture_id', @furniture.id %>
  <%= submit_tag 'Purchase', class: 'btn btn-primary' %>
<% end %>
