 <h3 style="text-align: center;" class="mt-3">List a new item</h3>
 <div class="container mt-5" style="width: 600px; margin: 0 auto;">
    <%= simple_form_for(@furniture) do |f| %>
    <div class="form-group mb-3">
        <%= f.input :name, class: "form-control", placeholder: "Desk chair" %>
      </div>
      <div class="form-group mb-3">
        <%= f.text_area :description, class: "form-control", placeholder: "Enter a short description of your item" %>
      </div>
      <div class="form-group mb-3">
        <%= f.input :location, input_html: { data: { geocoder_target: "location" } }, wrapper_html: { data: { controller: "geocoder", geocoder_api_key_value: ENV['MAPBOX_API_KEY'] } } %>
      </div>
      <div class="form-group mb-3">
        <%= f.association :category, class: "form-control" %>
      </div>
      <div class="form-group mb-3">
        <%= f.input :price, class: "form-control" %>
      </div>
       <div class="form-group mb-3">
        <%= f.input :photo, as: :file, class: "form-control" %>
      </div>
      <%= f.submit "Submit furniture", class: "btn btn-primary mb-3 w-100" %>
    <% end %>
</div>
