<h3><%= @furniture.name %></h3>
<h4>Price - <%= @furniture.price %></h4>
<h4>Location - <%= @furniture.location %></h4>
<h4>Category - <%= @furniture.category.name %></h4>

<% if @furniture.user_id != current_user.id %>
  <%= link_to "Make an Offer",  new_furniture_offer_path(@furniture) %>
<% end %>
